CompleteExample/ach/ach.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BATCH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HEADER">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ID" type="xs:string" />
              <xs:element minOccurs="0" name="TOTALDEPOSIT" type="xs:decimal" />
              <xs:element minOccurs="0" name="DEPOSITDATE" type="xs:string" />
              <xs:element minOccurs="0" name="TOTALTRANS" type="xs:unsignedInt" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="DETAIL">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="AMOUNT" type="xs:decimal" />
              <xs:element minOccurs="0" name="DESC" type="xs:string" />
              <xs:element minOccurs="0" name="RECEIVEDDATE" type="xs:string" />
              <xs:element minOccurs="0" name="POSTEDDATE" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>